.jumbotron{
	font-size: 3em;	
	border-bottom: solid black 2px;

}
.fluid-container{
	text-align: center;
}

.home{
	padding:50px 100px;
}

.weather-conditions{
	margin: 0 auto;
	width:70%;
}
.message, .example{
	padding-left: 15px;
	font-style: italic;
}

.message{
	color: red;
}

.weather-condition-row:hover{
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc; 
	cursor: pointer;
}

tr>th{
	text-align: center;	
	border-bottom: 2px solid black;	
}

input.ng-invalid {
  background: red;
  color:white;
}


/*** loading animation ***/
body, html { position:relative; min-height:100%; }
.loading {
  position:relative;
  height:100%;
}
.loading:before {
  position:absolute;
  content:"";
  left:0;
  bottom:0;
  right:0;
  top:0;
  z-index:1000;
  background:rgba(255,255,255,0.9) no-repeat center center;
  background-image: url('../img/loading-animation.gif');
}
.animate-view-container { position:relative; min-height: 100%; }
.animate-view.ng-enter,
.animate-view.ng-leave {
    -webkit-transition:1s linear all;
    transition:1s linear all;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#eee;
}
.animate-view.ng-enter { opacity:0; z-index:100; }
.animate-view.ng-enter.ng-enter-active { opacity:1; }
.animate-view.ng-leave { opacity:1; z-index:99; }
.animate-view.ng-leave.ng-leave-active { opacity:0; }

