<div class="weather-conditions">
	<form class="navbar-form navbar-left" role="search" name="searchForm"  ng-submit="submit()" novalidate>
		<div class="form-group">
			<input ng-model="searchText" name="searchBox"  data-ng-pattern="/^[A-Za-z]+\s*,\s*[A-Za-z]{2}$/" type="text" class="form-control" placeholder="City, State">
		</div>
		<button type="submit" class="btn btn-default">Go</button><span class="example">e.g: Austin, TX</span><span class="message"
																								   ng-show="!!message">{{message}}</span>
	</form>
	<div class="panel panel-default">
		<table class="table">
			<tr>
				<th>City,State</th>
				<th>weatherLike</th> 
				<th>temperture</th>
				<th>feelsLike</th>
				<th>wind</th>
				<th>relativeHumidity</th>
				<th>lastUpdated</th>
			</tr>

			<tr ng-repeat="weatherCondition in weatherConditions" class="weather-condition-row" data-ng-href="#">
				<td>{{weatherCondition.fullName}}</td>
				<td>{{weatherCondition.weatherLike}}</td>
				<td>{{weatherCondition.temperture}}</td>
				<td>{{weatherCondition.feelsLike}}</td>
				<td>{{weatherCondition.wind}}</td>
				<td>{{weatherCondition.relativeHumidity}}</td>
				<td>{{weatherCondition.lastUpdated}}</td>
			</tr>
		</table>
	</div>
	<hr>
</div>